@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Lato:wght@100;300;400;700&display=swap");

@font-face {
  font-family: Switzer;
  src: url(../fonts/Switzer/Fonts/OTF/Switzer-Regular.otf);
}

:root {
  --primary-font: Switzer;
  --secondary-font: Inter;
  --theme-color: #05051d;
  --white: #ffffff;
  --text-color: #a5a5ae;
  --gradient: linear-gradient(
    136deg,
    #f9a65a 4.56%,
    #ff74ad 49.04%,
    #9a6bfe 92.6%
  );
  --border-color: #494a4d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--theme-color) !important;
}

h1,
h2,
h3,
h4 {
  font-family: var(--primary-font) !important;
}

p {
  font-family: var(--secondary-font) !important;
}

a {
  text-decoration: none !important;
  font-family: var(--secondary-font) !important;
}

/* Hero Start */

#hero {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero_pattern_shape {
  position: absolute;
  z-index: -1;
}

.hero_star_shape {
  position: absolute;
  bottom: 0;
  left: 10%;
  z-index: -1;
}

.hero_pattern_shape img,
.hero_star_shape img {
  width: 100%;
}

/* Navbar Start */

.main_navbar {
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #0f0f26;
  backdrop-filter: blur(4px);
  padding: 12px 20px !important;
  margin-top: 20px;
}

.navbar-brand img {
  width: 150px;
}

.navbar-nav {
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: #18183d;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);
  padding: 0px 8px 2px !important;
}

.navbar-nav .nav-item {
  margin: 0 10px;
}

.navbar-nav .nav-link {
  color: var(--white) !important;
  font-weight: 500;
}

.navbar-nav .nav-link:active {
  color: var(--text-color) !important;
}

.navbar-nav .nav-link:hover {
  color: var(--text-color) !important;
}

.user_btn {
  display: flex;
  align-items: center;
}

.user_btn .sign_in_btn {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 500;
  margin-right: 15px;
  transition: 0.4s;
}

.user_btn .sign_in_btn:hover {
  color: var(--white);
}

.user_btn .premium_btn {
  color: #121212;
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 500;
  background: var(--white);
  border-radius: 30px;
  padding: 8px 15px;
  transition: all 0.4s linear;
}

.user_btn .premium_btn:hover {
  background: var(--gradient);
  color: var(--white);
}

.navbar-toggler-icon {
  background-image: url(../icons/menu_icon.png) !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.dropdown-menu {
  background-color: #18183d !important;
  z-index: 9999 !important;
}

.dropdown-menu .dropdown-item {
  color: var(--white);
}

.dropdown-menu .dropdown-item:hover {
  background-color: #0f0f26;
  color: var(--white);
}

@media screen and (max-width: 1200px) {
  .navbar-nav .nav-item {
    margin: 0 7px;
  }

  .navbar-nav .nav-link {
    font-size: 0.9em;
  }

  .user_btn .sign_in_btn,
  .user_btn .premium_btn {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 990px) {
  .main_navbar {
    border-radius: 10px;
  }

  .navbar-nav {
    border-radius: 8px;
    margin: 20px !important;
  }

  .user_btn {
    margin-top: 30px;
    margin-bottom: 15px;
  }
}

/* Navbar End */

/* Hero Content Start */

.hero_wrapper {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
}

.hero_content .hero_sub_title {
  display: inline-block;
}

.hero_content .sub_title_text {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 16px;
  border-radius: 30px;
  border: 1px solid #494a4d;
  background: rgba(41, 41, 41, 0.16);
  box-shadow: 0px -1px 4px 0px rgba(255, 255, 255, 0.12) inset;
}

.hero_content .hero_sub_title span {
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 214.29%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1em;
  font-weight: 500;
  color: var(--white);
  font-family: var(--secondary-font);
}

.hero_content .hero_title {
  color: rgba(255, 255, 255, 0.9);
  font-family: var(--primary-font);
  font-size: 3.5em;
  font-weight: 500;
  text-transform: capitalize;
  margin: 30px 0;
}

.hero_content .hero_title span {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_content .hero_desc {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 500;
}

.hero_btn {
  margin-top: 50px;
}

.hero_btn a {
  display: inline-block;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.32);
  background: var(--gradient);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05),
    0px -3px 24px 0px rgba(5, 5, 29, 0.4) inset;
  color: var(--white);
  padding: 15px 25px;
  font-family: var(--secondary-font);
  font-size: 1em;
}

.hero_content ul {
  list-style: none;
  margin: 40px 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hero_content ul li {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1em;
  font-family: var(--secondary-font);
  color: var(--text-color);
}

.hero_content ul li:first-child {
  margin-right: 20px;
}

.hero_image_gallery {
  position: relative;
  display: flex;
  gap: 20px;
  z-index: -1;
}

.hero_image_gallery::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 160px;
  background: linear-gradient(0deg, rgba(5, 5, 29, 0) 0%, #05051d 100%);
}

.hero_image_gallery::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 160px;
  background: linear-gradient(180deg, rgba(5, 5, 29, 0) 0%, #05051d 100%);
}

.gallery_col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery_img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  user-select: none;
}

@media screen and (max-width: 990px) {
  #hero {
    height: auto;
  }

  .hero_wrapper {
    height: auto;
  }

  .hero_content .sub_title_text {
    margin-top: 50px;
  }

  .hero_content .hero_title {
    font-size: 2.3em;
  }

  .hero_image_gallery {
    margin-top: 60px;
  }

  .hero_image_gallery {
    position: relative;
    display: flex;
    gap: 15px;
  }

  .gallery_col {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

@media screen and (max-width: 575px) {
  .hero_content ul li {
    font-size: 0.9em;
  }
}

/* Hero Content End */

/* Hero End */

/* About Start */

#about {
  padding: 80px 0;
}

.about_head .about_sub_title {
  width: 240px;
  margin: auto;
  position: relative;
}

.about_head .about_sub_title::before {
  content: "";
  position: absolute;
  left: -80px;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 1px;
  background: linear-gradient(
    115deg,
    #f9a65a 2.67%,
    rgba(255, 116, 173, 0.6) 35.53%,
    rgba(154, 107, 254, 0) 67.71%
  );
  transform: rotate(180deg);
}

.about_head .about_sub_title::after {
  content: "";
  position: absolute;
  right: -80px;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 1px;
  background: linear-gradient(
    115deg,
    #f9a65a 2.67%,
    rgba(255, 116, 173, 0.6) 35.53%,
    rgba(154, 107, 254, 0) 67.71%
  );
}

.about_head .sub_title_text {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 30px;
  border: 1px solid #494a4d;
  background: rgba(41, 41, 41, 0.16);
  box-shadow: 0px -1px 4px 0px rgba(255, 255, 255, 0.12) inset;
}

.about_head .about_sub_title span {
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 214.29%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1em;
  font-weight: 500;
  color: var(--white);
  font-family: var(--secondary-font);
}

.about_head .about_title {
  color: rgba(255, 255, 255, 0.9);
  font-family: var(--primary-font);
  font-size: 3.5em;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  margin: 20px 0;
}

.about_head .about_title span {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about_head .about_desc {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 500;
  text-align: center;
}

.about_row {
  position: relative;
  margin-top: 150px;
}

.about_content .about_icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.about_content .about_icon img {
  width: 100%;
  height: 100%;
}

.about_content h1 {
  color: var(--white);
  font-family: var(--secondary-font);
  font-size: 1.8em;
  font-weight: 400;
}

.about_content p {
  color: var(--text-color);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
}

.about_content .about_btn {
  margin-top: 40px;
}

.about_content .about_btn a {
  display: inline-block;
  border-radius: 30px;
  border: 1px solid #f9a65a;
  padding: 8px 12px;
  background: #212734;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05),
    0px -3px 24px 0px rgba(5, 5, 29, 0.4) inset;
  color: var(--white);
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 500;
}

.about_img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_img_box {
  position: relative;
  width: 75%;
  border-radius: 10px;
  padding: 8px;
  background: rgba(255, 255, 255, 0.06);
}

.about_row1 .about_img {
  align-items: end;
}
.about_row2 .about_img {
  align-items: start;
}

.about_img_box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.04);
}

.about_img_box .about_main_img {
  width: 75%;
  display: block;
  margin: auto;
  background: #0f0f26;
  box-shadow: 0px 0px 0px 1px #242439, 0px 1px 1px 1px rgba(19, 20, 26, 0.06);
  padding: 30px;
  border-radius: 8px;
}

.about_row2 .about_img_box .about_main_img {
  padding: 15px;
}

.about_img_box .about_main_img {
  width: 100%;
  display: block;
  margin: auto;
}

.about_row1 .about_bg_layer_shape {
  position: absolute;
  top: -170px;
  right: 0px;
  z-index: -1;
}

.about_row2 .about_bg_layer_shape {
  position: absolute;
  top: -150px;
  left: -100px;
  z-index: -1;
}

.about_row1 .about_bg_layer_shape img {
  width: 120%;
  user-select: none;
}

.about_row2 .about_bg_layer_shape img {
  width: 95%;
  user-select: none;
}

.about_img_1_top_text {
  width: 75%;
  margin-bottom: 30px;
  justify-content: center;
}

.about_img_1_top_text img {
  width: 70%;
  display: block;
  margin: auto;
}

.about_row1 .about_img_generate_box_wrapper {
  position: absolute;
  bottom: -30px;
  left: 65%;
  transform: translate(-54%);
  width: 65%;
}

.about_row2 .about_img_generate_box_wrapper {
  position: absolute;
  bottom: -50px;
  left: 35%;
  transform: translate(-46%);
  width: 65%;
}

.about_img_generate_box {
  width: 100%;
  display: flex;
  padding: 8px 14px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1.147px solid rgba(255, 255, 255, 0.1);
  background: rgba(33, 39, 52, 0.8);
  box-shadow: 0px -1.06px 8.481px 0px rgba(0, 0, 0, 0.08) inset,
    0px 4.24px 8.481px 0px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(4px);
}

.about_img_generate_box input {
  border: none;
  outline: none;
  background: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-family: var(--secondary-font);
}

.about_img_generate_box button {
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.32);
  background: linear-gradient(
    136deg,
    #f9a65a 4.56%,
    #ff74ad 49.04%,
    #9a6bfe 92.6%
  );
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05),
    0px -3px 24px 0px rgba(5, 5, 29, 0.4) inset;
  color: var(--white);
  padding: 5px 12px;
  font-family: var(--secondary-font);
  font-size: 12px;
  font-weight: 500;
}

.about_img_mobile_device {
  position: absolute;
  left: -80px;
  bottom: -80px;
}

.about_img_mobile_device img {
  width: 100%;
}

@media screen and (max-width: 1620px) {
  .about_row2 .about_bg_layer_shape {
    left: 0px;
  }

  .about_row1 .about_bg_layer_shape img {
    width: 100%;
  }

  .about_row1 .about_bg_layer_shape {
    position: absolute;
    top: -100px;
    right: 0px;
    z-index: -1;
  }
}

@media screen and (max-width: 990px) {
  .about_head .about_sub_title {
    width: 220px;
  }

  .about_head .about_sub_title::before {
    left: -70px;
    width: 70px;
  }

  .about_head .about_sub_title::after {
    right: -70px;
    width: 70px;
  }

  .about_head .about_sub_title span {
    font-size: 0.9em;
  }

  .about_head .about_title {
    font-size: 2.3em;
  }

  .about_head .about_desc {
    font-size: 0.9em;
  }

  .about_content {
    text-align: center;
  }

  .about_content .about_icon {
    margin: 0 auto 30px;
  }

  .about_content h1 {
    margin-bottom: 15px;
  }

  .about_row1 .about_img {
    align-items: center;
    margin-top: 70px;
  }
  .about_row2 .about_img {
    align-items: center;
    margin-top: 70px;
  }

  .about_row1 .about_bg_layer_shape {
    display: none;
  }

  .about_row2 .about_bg_layer_shape {
    display: none;
  }

  .about_img_generate_box {
    padding: 6px 12px;
  }

  .about_row1 .about_img_generate_box_wrapper {
    bottom: -22px;
    left: 50%;
    transform: translate(-50%);
    width: 65%;
  }

  .about_row2 .about_img_generate_box_wrapper {
    bottom: -38px;
    left: 50%;
    transform: translate(-50%);
    width: 65%;
  }

  .about_img_generate_box input {
    font-size: 10px;
    width: 120px;
  }

  .about_img_generate_box button {
    padding: 4px 8px;
    font-size: 8px;
  }

  .about_row {
    margin-top: 100px;
  }
}

@media screen and (max-width: 575px) {
  .about_img_mobile_device {
    left: -35px;
    bottom: -35px;
  }

  .about_img_mobile_device img {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .about_img_mobile_device {
    left: -30px;
    bottom: -30px;
  }

  .about_img_mobile_device img {
    width: 50%;
  }
}

/* About End */

/* Feature Start */

#feature {
  padding: 100px 0;
}

.feature_head .feature_sub_title {
  width: 240px;
  margin: auto;
  position: relative;
}

.feature_head .feature_sub_title::before {
  content: "";
  position: absolute;
  left: -80px;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 1px;
  background: linear-gradient(
    115deg,
    #f9a65a 2.67%,
    rgba(255, 116, 173, 0.6) 35.53%,
    rgba(154, 107, 254, 0) 67.71%
  );
  transform: rotate(180deg);
}

.feature_head .feature_sub_title::after {
  content: "";
  position: absolute;
  right: -80px;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 1px;
  background: linear-gradient(
    115deg,
    #f9a65a 2.67%,
    rgba(255, 116, 173, 0.6) 35.53%,
    rgba(154, 107, 254, 0) 67.71%
  );
}

.feature_head .sub_title_text {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 30px;
  border: 1px solid #494a4d;
  background: rgba(41, 41, 41, 0.16);
  box-shadow: 0px -1px 4px 0px rgba(255, 255, 255, 0.12) inset;
}

.feature_head .feature_sub_title span {
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 214.29%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1em;
  font-weight: 500;
  color: var(--white);
  font-family: var(--secondary-font);
}

.feature_head .feature_title {
  color: rgba(255, 255, 255, 0.9);
  font-family: var(--primary-font);
  font-size: 3.5em;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  margin: 20px 0;
}

.feature_head .feature_title span {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature_head .feature_desc {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 500;
  text-align: center;
}

.feature_card {
  position: relative;
  padding: 30px;
  border-radius: 14px;
  border: 1px solid #242439;
  background: #0f0f26;
  box-shadow: 0px 4px 24px 0px #061c30;
  z-index: -2;
  overflow: hidden;
}

.feature_card .card_shape {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.feature_card .card_content {
  z-index: 99 !important;
}

.card_content .feature_card_sub_title {
  display: inline-block;
}

.card_content .sub_title_text {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 5px 12px;
  border-radius: 30px;
  border: 1px solid #494a4d;
  background: rgba(41, 41, 41, 0.16);
  box-shadow: 0px -1px 4px 0px rgba(255, 255, 255, 0.12) inset;
}

.card_content .feature_card_sub_title span {
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 214.29%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12px;
  font-weight: 500;
  color: var(--white);
  font-family: var(--secondary-font);
}

.card_content h2 {
  color: var(--white);
  font-family: var(--secondary-font);
  font-size: 1.4em;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 15px;
}

.card_content p {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 500;
}

.feature_card_img {
  width: 100%;
}

.feature_card_img img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/* Feature End */

/* Tool Start */

.tool_head h1 {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 40px;
}

.scroll_text_wrapper {
  overflow: hidden;
  width: 100%;
  background-color: var(--button-accents);
  padding: 20px;
  margin-bottom: 50px;
  position: relative;
}

.scroll_text_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
  background: linear-gradient(90deg, #05051d 0%, rgba(5, 5, 29, 0) 100%);
  z-index: 99 !important;
}

.scroll_text_wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 180px;
  height: 100%;
  background: linear-gradient(90deg, #05051d 0%, rgba(5, 5, 29, 0) 100%);
  transform: rotate(180deg);
  z-index: 99 !important;
}

.scroll_text_to_left {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.4em;
  white-space: nowrap;
  font-weight: 600;
  animation: scrollTextToLeft 40s linear infinite;
  animation-delay: -20s;
}

@keyframes scrollTextToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll_text_to_right {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.4em;
  white-space: nowrap;
  font-weight: 600;
  animation: scrollTextToRight 40s linear infinite;
  animation-delay: -20s;
  margin-top: 10px;
}

@keyframes scrollTextToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.tool_item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 25px;
  border-radius: 10px;
  border: 1px solid #242439;
  background: #0f0f26;
  box-shadow: 0px 0px 6px 0px rgba(2, 15, 29, 0.4),
    0px 2px 4px 0px rgba(97, 111, 125, 0.1) inset;
}

.tool_item span {
  color: #a3c3e5;
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 500;
}

@media screen and (max-width: 990px) {
  .tool_head h1 {
    font-size: 1.6em;
  }

  .tool_item span {
    font-size: 0.7em;
  }

  .scroll_text_wrapper::before {
    width: 150px;
  }

  .scroll_text_wrapper::after {
    width: 150px;
  }
}

/* Tool End */

/* Reviews Start */

.reviews_head .reviews_sub_title {
  width: 240px;
  margin: auto;
  position: relative;
}

.reviews_head .reviews_sub_title::before {
  content: "";
  position: absolute;
  left: -80px;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 1px;
  background: linear-gradient(
    115deg,
    #f9a65a 2.67%,
    rgba(255, 116, 173, 0.6) 35.53%,
    rgba(154, 107, 254, 0) 67.71%
  );
  transform: rotate(180deg);
}

.reviews_head .reviews_sub_title::after {
  content: "";
  position: absolute;
  right: -80px;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 1px;
  background: linear-gradient(
    115deg,
    #f9a65a 2.67%,
    rgba(255, 116, 173, 0.6) 35.53%,
    rgba(154, 107, 254, 0) 67.71%
  );
}

.reviews_head .sub_title_text {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 30px;
  border: 1px solid #494a4d;
  background: rgba(41, 41, 41, 0.16);
  box-shadow: 0px -1px 4px 0px rgba(255, 255, 255, 0.12) inset;
}

.reviews_head .reviews_sub_title span {
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 214.29%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1em;
  font-weight: 500;
  color: var(--white);
  font-family: var(--secondary-font);
}

.reviews_head .reviews_title {
  color: rgba(255, 255, 255, 0.9);
  font-family: var(--primary-font);
  font-size: 3.5em;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  margin: 20px 0;
}

.reviews_head .reviews_title span {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reviews_head .reviews_desc {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  padding: 0 50px;
}

.reviews_card {
  position: relative;
  border: 1px solid #2a3d63;
  background: linear-gradient(
    180deg,
    rgba(16, 21, 33, 0.8) 0%,
    rgba(16, 21, 33, 0) 100%
  );
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(5px);
  z-index: -2;
}

.reviews_card::before {
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 80%;
  bottom: -2px;
  left: -2px;
  right: -2px;
  transform: rotate(180deg);
  background: linear-gradient(180deg, #05051d 0%, rgba(5, 5, 29, 0) 100%);
  z-index: -1;
}

.reviews_content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: 105vh;
  overflow-y: scroll;
}

.reviews_content::-webkit-scrollbar {
  display: none;
}

.reviews_col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reviews_user_wrapper {
  display: flex;
  justify-content: space-between;
}

.reviews_user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.reviews_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.reviews_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.reviews_user_info h5 {
  color: var(--white);
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 600;
}

.reviews_user_info p {
  color: var(--text-color);

  font-family: var(--secondary-font);
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 0;
}

.reviews_date p {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 0.9em;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 25px;
}

.reviews_text p {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 0.9em;
  font-weight: 400;
}

.reviews_text p:first-child {
  margin-top: 20px;
}

.reviews_text ul li {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 0.9em;
  font-weight: 400;
}

@media screen and (max-width: 990px) {
  .reviews_content {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Reviews End */

/* Newsletter Start */

#newsletter {
  padding: 80px 0;
}

.newsletter_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 28px;
  border: 1px solid #2a3d63;
  background: #0d0d25 url(../img/newsletter_bg.svg);
  box-shadow: 0px 1px 2px 0px rgba(255, 116, 173, 0.08),
    0px 0px 8px 0px rgba(255, 116, 173, 0.3);
  padding: 50px 0;
  text-align: center;
}

.newsletter_content {
  z-index: 99 !important;
}

.newsletter_icon {
  width: 80px;
  height: 80px;
  margin: auto;
}

.newsletter_icon img {
  width: 100%;
  height: 100%;
}

.newsletter_content h1 {
  color: rgba(255, 255, 255, 0.9);
  font-family: var(--primary-font);
  font-size: 2em;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
}

.newsletter_content h1 span {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.newsletter_content p {
  color: var(--text-color);
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 500;
}

.newsletter_search_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  border-radius: 12px;
  border: 1px solid #242439;
  background: #131330;
  padding: 10px;
  z-index: 99 !important;
  margin-top: 40px;
}

.search_icon {
  display: flex;
  align-items: center;
}

.search_icon img {
  margin-left: 10px;
}

.newsletter_search_box input {
  border: none;
  outline: none;
  background: transparent;
  padding-left: 6px;
  color: var(--text-color);
}

.newsletter_search_box button {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.32);
  background: var(
    --Images-AI,
    linear-gradient(136deg, #f9a65a 4.56%, #ff74ad 49.04%, #9a6bfe 92.6%)
  );
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05),
    0px -3px 24px 0px rgba(5, 5, 29, 0.4) inset;
  padding: 8px 10px;
  font-family: var(--secondary-font);
  color: var(--white);
  font-size: 14px;
}

/* Newsletter End */
